.DS_Store
*.log
*.build.customer*
/build.customprofiles.properties
/temp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
bin/
target/
out/
dist/

##############
# eclipse #
##############
.project
.metadata
.classpath
.settings/
bin/**
*.tmp
*.bak
*.swp

#############
# intelliJ #
##############
.idea
*.ipr
*.iml
.settings

# Package Files #
*.jar
*.war
*.ear
