<module xmlns="urn:jboss:module:1.1" name="com.softwareag.webMethods.broker">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <!-- add the webMethods Broker client JMS libs in here -->
    <resources>
        <resource-root path="."/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>