<module xmlns="urn:jboss:module:1.1" name="com.softwareag.universalmessaging">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <!-- add the universal messaging client JMS libs in here -->
    <resources>
        <resource-root path="nJMS.jar"/>
        <resource-root path="nClient.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.jms.api"/>
        <module name="sun.jdk"/>
    </dependencies>
</module>
